@import url("https://fonts.googleapis.com/css2?family=Shrikhand&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono&family=Shrikhand&display=swap");
@import url(../libs/reset.css);
@keyframes body {
  from {
    filter: blur(3px); }
  to {
    filter: blur(3px); } }
@keyframes background {
  from {
    height: 100%;
    width: 100%; }
  to {
    height: 100%;
    width: 100%; }
  0% {
    background-color: rgba(153, 226, 208, 0.7); }
  33% {
    background-color: rgba(255, 121, 218, 0.7); }
  50% {
    background-color: rgba(147, 86, 220, 0.7); }
  75% {
    background-color: rgba(153, 226, 208, 0.7); }
  100% {
    background-color: rgba(153, 226, 208, 0.7);
    transition-timing-function: cubic-bezier(0.54, 0.31, 0.89, 0.3);
    display: none; } }
@keyframes loader {
  0% {
    transform: scale(0) rotate(45deg);
    color: 60%;
    opacity: 1;
    transition-timing-function: cubic-bezier(0.54, 0.31, 0.89, 0.3); }
  33% {
    transform: scale(1) rotate(120deg);
    color: 74.3137254902%;
    opacity: 1; }
  50% {
    transform: scale(1) rotate(180deg);
    color: 74.3137254902%;
    opacity: 1; }
  75% {
    transform: scale(1) rotate(260deg);
    color: 73.7254901961%;
    opacity: 1; }
  100% {
    transform: scale(0) rotate(360deg);
    color: #8641d8;
    opacity: 0.8;
    visibility: hidden;
    transition-timing-function: cubic-bezier(0.54, 0.31, 0.89, 0.3); } }
@keyframes like {
  0% {
    transform: scale(0);
    opacity: 0; }
  33% {
    transform: scale(0.33);
    opacity: 0.3; }
  66% {
    transform: scale(0.66);
    opacity: 0.6; }
  100% {
    font-size: inherit;
    opacity: 1;
    transform-origin: 50% left; } }
@keyframes checked {
  0% {
    transform: rotate(90deg);
    opacity: 0; }
  50% {
    transform: rotate(180deg); }
  100% {
    transform: rotate(360deg);
    opacity: 1;
    transition-duration: 2000ms; } }
@keyframes progress__bar {
  0% {
    transform: scaleX(0);
    color: #9356dc;
    opacity: 0; }
  50% {
    transform: scaleX(0.5);
    opacity: 0.5; }
  100% {
    transform: scaleX(1);
    color: #99e2d0;
    opacity: 1; }
  transform-delay: 3000ms;
  transform-origin: left; }
@keyframes suite {
  0% {
    transform: translateX(0%);
    opacity: 0;
    font-size: 12px; }
  10% {
    opacity: 0.2; }
  20% {
    opacity: 0.5; }
  30% {
    opacity: 0.8; }
  50% {
    transform: translateX(50%);
    opacity: 1;
    font-size: 19px; }
  70% {
    opacity: 0.8; }
  80% {
    opacity: 0.5; }
  90% {
    opacity: 0.2; }
  100% {
    transform: translateX(100%);
    opacity: 0;
    font-size: 12px; }
  transform-delay: 3200ms; }
@keyframes affich {
  0% {
    transform: scaleY(0); }
  100% {
    transform: scaleY(1); } }
@keyframes box {
  0% {
    transform: scaleX(0); }
  100% {
    transform: scaleX(1); } }
@keyframes rotate {
  from {
    transform: rotate(0deg); }
  to {
    transform: rotate(360deg); }
  transition-duration: 8s; }
@keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg); }
  100% {
    -webkit-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg); } }
.link-footer, a, i {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  font-family: Roboto, sans-serif;
  width: auto;
  height: auto;
  color: #fff;
  text-decoration: none;
  margin-left: 15px;
  line-height: 15px; }
  .link-footer .other-restaurant, a .other-restaurant, i .other-restaurant {
    margin-left: 18px; }

/* mixin element mobile*/
/*mixin version mobile pour le menu1*/
/* mixin version mobile menu2.3.4.*/
/*mixin version mobile page accueil*/
.loader {
  display: flex;
  width: 100%;
  justify-content: center;
  position: absolute;
  z-index: 1;
  animation: background 3200ms; }
  .loader i {
    position: fixed;
    margin: 0;
    top: 125px;
    font-size: 26em;
    animation: loader 2800ms 400ms both; }

body {
  font-family: Roboto, sans-serif;
  background-size: cover;
  animation: body 3200ms; }

header {
  display: flex;
  justify-content: center; }
  header img {
    width: 300px;
    text-align: center;
    height: 60px; }
  header img {
    width: 20%;
    margin: 20px; }

.localisation-search__heading {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: space-around;
  height: 70px;
  background: linear-gradient(to bottom, grey, 1%, #ececec); }
  .localisation-search__heading .localisation-search__city {
    margin-left: 15px;
    font-weight: bold;
    letter-spacing: 0em; }

.research__city {
  display: none; }

main i {
  font-family: Roboto, sans-serif;
  color: black; }

.website__descript--heading {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: whitesmoke; }
  .website__descript--heading .website__descript--title {
    font-weight: bold;
    font-size: 36px;
    margin-top: 30px; }
  .website__descript--heading .website__descript--subtitle {
    margin-top: 30px;
    margin-bottom: 30px; }

.link-restaurant__wrap {
  display: flex;
  align-items: center;
  width: 16%;
  justify-content: center;
  border: 0px groove #b68de7;
  height: 50px;
  color: #fff;
  margin-bottom: 40px;
  border-radius: 30px 30px;
  background: #9356dc;
  padding-right: 10px;
  box-shadow: 5px 8px 8px #cfcfcf; }
  .link-restaurant__wrap:hover {
    cursor: pointer;
    transform: scale(1.05);
    background: linear-gradient(to top, #9356dc, 20%, #b68de7);
    box-shadow: 5px 8px 8px #9c9c9c;
    transition-duration: 400ms;
    background: linear-gradient(to top, #9356dc, 20%, #b68de7); }
    .link-restaurant__wrap:hover:active {
      transform: scale(1);
      transition-duration: 200ms; }
  .link-restaurant__wrap .link-restaurant {
    color: #fff;
    text-align: center; }

nav {
  display: block;
  margin-bottom: 50px; }
  nav i {
    color: black;
    margin-left: 30px; }

.nav__link--title {
  text-align: center;
  margin: 30px;
  font-size: 24px; }

.nav__link--wrap {
  display: flex;
  justify-content: space-evenly; }
  .nav__link--wrap .nav__link--choice {
    display: inline-flex;
    align-items: center;
    border: 0px solid #9356dc;
    box-shadow: 5px 5px 8px #cfcfcf;
    margin-left: 25px;
    border-radius: 20px;
    height: 60px;
    width: 282px;
    background: whitesmoke; }
    .nav__link--wrap .nav__link--choice:hover {
      cursor: pointer;
      transform: scale(1.05);
      background: linear-gradient(to top, #9356dc, 20%, #b68de7);
      box-shadow: 5px 8px 8px #9c9c9c;
      transition-duration: 400ms;
      background: #faf7fd; }
      .nav__link--wrap .nav__link--choice:hover .nav__link--number {
        transform: translate(-15px);
        transition-duration: 400ms;
        transition-timing-function: linear 400ms; }
    .nav__link--wrap .nav__link--choice .nav__link--number {
      text-align: center;
      border: 0px solid #9356dc;
      background: #9356dc;
      color: white;
      border-radius: 15px 15px;
      font-size: small;
      margin: -8px;
      width: 15px;
      height: 15px;
      font-size: 12px;
      padding-top: 3px;
      padding-right: 3px; }

.icon-fonc-style .fas {
  color: #9356dc; }

.fas_fa-mobile-alt {
  margin-left: inherit; }

.nav__link--list {
  margin-left: inherit;
  font-weight: bold; }

.food-prev__heading {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  background: whitesmoke;
  align-content: center;
  height: 1200px;
  justify-content: space-around; }
  .food-prev__heading a {
    color: inherit; }
  .food-prev__heading h2 {
    font-size: 26px;
    margin: 15px;
    text-align: center; }

img {
  border-radius: 15px 15px 0 0;
  width: 335px;
  height: 175px;
  cursor: pointer; }

.container__food__prev--menu {
  display: flex;
  border: 1px solid #000; }

.food-prev {
  background: white;
  border-radius: 15px;
  height: 250px;
  margin-bottom: 30px;
  cursor: pointer; }

.food-prev__ban {
  position: absolute;
  width: 90px;
  cursor: pointer;
  margin-left: 230px;
  margin-top: 10px;
  z-index: 1;
  background-color: #99e2d0;
  margin-right: 6%;
  opacity: 1;
  color: #32b091;
  height: 25px;
  text-align: center;
  padding-top: 9px; }

.food-prev__nolike {
  position: absolute;
  cursor: pointer;
  font-size: x-large;
  margin-left: 280px;
  margin-top: 200px; }
  .food-prev__nolike .far {
    color: #000; }
  .food-prev__nolike:hover {
    opacity: 0;
    color: #fff; }

.food-prev__like {
  position: absolute;
  cursor: pointer;
  font-size: x-large;
  margin-left: 280px;
  margin-top: 200px;
  opacity: 0;
  transition-duration: 500ms; }
  .food-prev__like .fas {
    color: #ff79da; }
  .food-prev__like:hover {
    animation: like;
    transform-origin: 0% 50% left;
    opacity: 1; }

a {
  z-index: 0; }

.food-prev__name {
  font-weight: bold;
  margin-left: 15px;
  margin-top: 8px;
  line-height: 1.8em; }

.food-prev__place {
  margin-left: 15px; }

.three_col {
  height: 125px;
  top: 12px;
  background: whitesmoke; }

.loading {
  width: 100px;
  height: 100px;
  border-radius: 100%;
  position: relative;
  margin: 0 auto;
  background: whitesmoke; }

#loading-1:before, #loading-1:after {
  content: "";
  position: absolute;
  top: -10px;
  left: -10px;
  width: 100%;
  height: 100%;
  border-radius: 100%;
  border: 10px solid transparent;
  border-top-color: #ff79da; }

#loading-1:before {
  z-index: 100;
  animation: spin 1s infinite; }

#loading-1:after {
  border: 10px solid #99e2d0; }

footer {
  display: flex;
  flex-direction: column;
  background: #000; }
  footer h2 {
    font-family: shrikhand;
    font-size: 24px;
    margin-left: 30px;
    color: #fff;
    margin-top: 15px;
    margin-bottom: 15px; }
  footer span, footer a {
    font-family: Roboto, sans-serif;
    margin-left: 15px;
    cursor: pointer;
    width: fit-content; }
    footer span:hover, footer a:hover {
      text-decoration: underline; }
  footer a:hover {
    text-decoration: underline; }

@media screen and (min-width: 280px) and (max-width: 480px) {
  body {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
    width: 480px; }

  header {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center; }
    header img {
      margin-bottom: 10px;
      width: 50%;
      height: 34px; }

  .loader i {
    left: 17%;
    font-size: 20em; }

  .localisation-search__heading {
    flex-wrap: wrap;
    width: auto;
    font-size: 1.5rem; }

  .website__descript--heading {
    flex-wrap: wrap;
    width: auto;
    justify-content: center;
    text-align: center; }

  .website__descript--title {
    text-align: center; }
    .website__descript--title .suit {
      display: block; }

  .website__descript--subtitle {
    text-align: center;
    font-size: larger;
    margin-left: 30px;
    flex-wrap: wrap;
    margin-right: 30px; }

  .link-restaurant__wrap {
    width: 50%; }

  .nav__link--title {
    display: flex;
    margin-bottom: 0; }

  .nav__link--wrap {
    flex-direction: column; }
    .nav__link--wrap .nav__link--choice {
      width: 90%;
      margin-top: 20px; }
      .nav__link--wrap .nav__link--choice:hover .nav__link--number {
        transform: none; }
      .nav__link--wrap .nav__link--choice i {
        font-size: 1.5rem;
        margin-left: 60px; }
      .nav__link--wrap .nav__link--choice--list {
        font-size: 1.2rem; }

  .nav__link--heading {
    height: 350px; }

  .load {
    background: whitesmoke; }
    .load i {
      margin: 0;
      background: none; } }

/*# sourceMappingURL=styles.css.map */
