@import url("https://fonts.googleapis.com/css2?family=Shrikhand&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&family=Shrikhand&display=swap');
@import "../libs/_keyframes.scss";
@import "../libs/mixins.scss";
@import "../libs/reset.css";
@media screen and (max-width: 480px) {
body{
	display: flex;
	flex-wrap: wrap;
	flex-direction: column;
	align-content: center;
	width: 100%; 
}
header{
	display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-content: center;
    margin-top: 20px;
	img{
		margin-bottom: 10px;
		width: 50%;
		height: 34px;
	}
}
.localisation-search__heading{
	flex-wrap: wrap;
    width: auto;
    font-size: 1.5rem;
}
.website__descript--heading{
	flex-wrap: wrap;
	width: auto;
	justify-content: center;
	text-align: center;	
}
.website__descript--title{
	text-align: center;
		.suit{
			display: block;
	}
}	
.website__descript--subtitle{
	text-align: center;
	font-size: larger;
	margin-left: 30px;
    flex-wrap: wrap;
    margin-right: 30px;
}
.link-restaurant__wrap{
	width: 50%;
}
.nav__link--title{
	display: flex;
	margin-bottom: 0;
}
.nav__link--wrap{
	flex-direction: column;
		.nav__link--choice{
			width: 90%;
			margin-top: 20px;
			&:hover{
    			.nav__link--number{
    				transform:none;
    			}
    		}
			i{
				font-size: 1.5rem;
				margin-left: 60px;
			}
				&--list{
					font-size: 1.2rem;
		}
	}
}
.nav__link--heading{
	height: 350px;
}

.load{
	background: lighten(#cfcfcf, 15%);
		i{
			margin: 0;
			background: none;
		}
	}
}