@import url("https://fonts.googleapis.com/css2?family=Shrikhand&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono&family=Shrikhand&display=swap");
@import url(../libs/reset.css);
@keyframes body {
  from {
    filter: blur(3px); }
  to {
    filter: blur(3px); } }
@keyframes background {
  from {
    height: 100%;
    width: 100%; }
  to {
    height: 100%;
    width: 100%; }
  0% {
    background-color: rgba(153, 226, 208, 0.7); }
  33% {
    background-color: rgba(255, 121, 218, 0.7); }
  50% {
    background-color: rgba(147, 86, 220, 0.7); }
  75% {
    background-color: rgba(153, 226, 208, 0.7); }
  100% {
    background-color: rgba(153, 226, 208, 0.7);
    transition-timing-function: cubic-bezier(0.54, 0.31, 0.89, 0.3);
    display: none; } }
@keyframes ellipsis {
  0% {
    transform: scaleX(0);
    opacity: 0; }
  50% {
    transform: scaleX(0.5);
    opacity: 0.5; }
  100% {
    transform: scaleX(1);
    opacity: 1;
    animation-delay: 200ms; } }
@keyframes loader {
  0% {
    transform: scale(0) rotate(45deg);
    color: #9356dc;
    opacity: 1;
    transition-timing-function: cubic-bezier(0.54, 0.31, 0.89, 0.3); }
  33% {
    transform: scale(1) rotate(120deg);
    color: #99e2d0;
    opacity: 1; }
  50% {
    transform: scale(1) rotate(180deg);
    color: #99e2d0;
    opacity: 1; }
  75% {
    transform: scale(1) rotate(260deg);
    color: #ff79da;
    opacity: 1; }
  100% {
    transform: scale(0) rotate(360deg);
    color: #8641d8;
    opacity: 0.8;
    visibility: hidden;
    transition-timing-function: cubic-bezier(0.54, 0.31, 0.89, 0.3); } }
@keyframes like {
  0% {
    transform: scale(0);
    opacity: 0; }
  33% {
    transform: scale(0.33);
    opacity: 0.3; }
  66% {
    transform: scale(0.66);
    opacity: 0.6; }
  100% {
    font-size: inherit;
    opacity: 1; } }
@keyframes checked {
  0% {
    transform: rotate(90deg);
    opacity: 0; }
  50% {
    transform: rotate(180deg); }
  100% {
    transform: rotate(360deg);
    opacity: 1;
    transition-duration: 2000ms; } }
@keyframes suite {
  0% {
    transform: translateX(0%);
    opacity: 0;
    font-size: 12px; }
  10% {
    opacity: 0.2; }
  20% {
    opacity: 0.5; }
  30% {
    opacity: 0.8; }
  50% {
    transform: translateX(50%);
    opacity: 1;
    font-size: 19px; }
  70% {
    opacity: 0.8; }
  80% {
    opacity: 0.5; }
  90% {
    opacity: 0.2; }
  100% {
    transform: translateX(100%);
    opacity: 0;
    font-size: 12px; } }
@keyframes affich {
  0% {
    transform: scaleY(0); }
  100% {
    transform: scaleY(1); } }
@keyframes box {
  0% {
    transform: scaleX(0); }
  100% {
    transform: scaleX(1); } }
@keyframes rotate {
  from {
    transform: rotate(0deg);
    -moz-webkit-transform: rotate(0deg); }
  to {
    transform: rotate(360deg);
    -moz-webkit-transform: rotate(360deg); } }
@keyframes spin {
  0% {
    transform: rotate(0deg); }
  100% {
    transform: rotate(360deg); } }
.link-footer a .fas {
  justify-content: space-around;
  font-family: Roboto, sans-serif;
  width: auto;
  height: auto;
  color: #fff;
  text-decoration: none;
  margin-left: 15px;
  line-height: 25px; }
  .link-footer a .fas .other {
    margin-left: 22px; }

/* mixin element mobile*/
@media screen and (min-width: 481px) and (max-width: 1101px) {
  header {
    display: flex; }
    header img {
      left: 0;
      width: 40%; }

  .website__descript--title {
    display: flex;
    flex-wrap: wrap;
    justify-content: center; }

  .suits {
    display: contents; }

  .link-restaurant__wrap {
    width: auto;
    padding-left: 10px; }

  .nav__link--title {
    text-align: center; }

  .nav__link--wrap {
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center; }

  .nav__link--choice {
    padding-right: 60px;
    margin-bottom: 20px; }

  .food-prev__heading {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    background: whitesmoke;
    align-content: center;
    height: 1200px;
    justify-content: space-around;
    margin-top: 15px; }
    .food-prev__heading h2 {
      font-size: 26px;
      margin: 15px;
      text-align: center; }

  .map {
    margin-left: 25%;
    margin-right: 25%; }

  .food-prev__title {
    text-align: center; }

  .food__prev--ban,
  .food__prev--ban2 {
    position: absolute;
    right: 30%; }

  .food__prev--like {
    position: relative;
    right: 15%;
    bottom: 65px;
    width: 10%;
    font-size: 28px;
    z-index: 1; }
    .food__prev--like .far {
      color: #000; }
      .food__prev--like .far:hover {
        cursor: pointer;
        font-weight: bolder;
        color: #9356dc;
        transition-duration: 1500ms; }

  footer {
    display: flex;
    flex-direction: column;
    background: #000;
    display: flex;
    flex-direction: column; }
    footer h2 {
      font-family: shrikhand;
      font-size: 24px;
      margin-left: 30px;
      color: #fff;
      margin-top: 15px;
      margin-bottom: 15px; }
    footer span a {
      font-family: Roboto, sans-serif;
      margin-left: 15px;
      cursor: pointer;
      width: fit-content; }
      footer span a:hover {
        text-decoration: underline; }
    footer a:hover {
      text-decoration: underline; }
    footer .link {
      line-height: 35px; } }

/*# sourceMappingURL=accueiltablet.css.map */
