@import url("https://fonts.googleapis.com/css2?family=Shrikhand&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&family=Shrikhand&display=swap');
@import "../libs/keyframes";
@import "../libs/mixins.scss";
@import "../libs/reset.css";
@media screen and (min-width: 280px) and (max-width: 480px) {
	body{
	@include flex;
	width: 480px; 
}
header{
	@include flex;
    background: #fff;
    height: 66px;
    width: 480px;
    margin: 0;
}
 .container__header{ 
 	width: 480px;
 img{
    	height: 34px;
    	position: relative;
    	top: 5px;
    	margin: 0px auto;
    	width: 50%;
    }
    .fas{
    	left: 25px;
    	top: 28px;
    	margin: 0;
    	font-size: 1rem;
    }
}
.food--picture{
	img{
		width: 480px;
		bottom: 50px;
		top: 66px;
	}
}
.name__food-heading{
	margin-top: 35px;
	margin-right: 125px;
	font-size: 2rem;
}
.container__main--food{
	width: 480px;
	top: 10px;
	margin: 0;
	height: 1270px;
	left: 0;
	@include anim;
}
.food-prev__nolike{
	@include heart;
}
.food-prev__like{
	@include heart;
}
.food__list-heading{
	position: relative;
	right: 55px;
}
.food__wrap{
	height: 70px;
	@include anim;
	.box{
	height: 72px;
	margin-left: 74%;
	width: 16%;
	i{
		color: #fff;
		margin-left: 20px;
		font-size: 30px;
		}
	}
}
.food__wrap--4{
	height: 85px;
	.box{
		height: 87px;
	}
	.food__descript--price{
		margin-top: 60px;
	}
}
.food__descript{
	font-size: 20px;
	margin-left: 20px
}
.food__descript-acompaniment{
	font-size: 15px;
	line-height: 35px;
	margin-left: 20px;
}
.food__descript--price{
	left: 80%;
	font-size: 18px;
	margin: 0;
	margin-top: 40px;
}
.link__command--wrap{
	margin-top: 50px;
	margin-bottom: 50px;
}
.link__command--wrap{
	height: 60px;
}
footer{
	width: 480px;
	top: 1535px;
}
}