@import url("https://fonts.googleapis.com/css2?family=Shrikhand&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&family=Shrikhand&display=swap');
@import "../libs/_keyframes.scss";
@import "../libs/mixins.scss";
@import "../libs/reset.css";
@media screen and (min-width: 481px) and (max-width: 1101px) {
	body{
		background: linear-gradient(0.25turn,$color-primary, white, $color-primary);
	}
	.container__header{
		height: 15%;
		img{
			width: 250px;
			height: auto;
		}
	}
	.container__food--picture,
	.container__main--food
	{
		width: 365px;
		margin-left: 33%;
		margin-right: 33%;
		top: 10px;
	}
	.food__prev--like {
		right: 25px;
	i{
    color: #000;
    &:hover {
      cursor: pointer;
      font-weight: bolder;
      color: $color-primary;
      transition-duration: 1500ms;
    }
  }
}
	footer{
		position: absolute;
    	top: 1382px;
		width: 100%;
		@include footer;
	}
	span, a, .other{
		margin-bottom: 0;
	}
}