@import url("https://fonts.googleapis.com/css2?family=Shrikhand&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono&family=Shrikhand&display=swap");
@import url(../libs/reset.css);
@keyframes body {
  from {
    filter: blur(3px); }
  to {
    filter: blur(3px); } }
@keyframes background {
  from {
    height: 100%;
    width: 100%; }
  to {
    height: 100%;
    width: 100%; }
  0% {
    background-color: rgba(153, 226, 208, 0.7); }
  33% {
    background-color: rgba(255, 121, 218, 0.7); }
  50% {
    background-color: rgba(147, 86, 220, 0.7); }
  75% {
    background-color: rgba(153, 226, 208, 0.7); }
  100% {
    background-color: rgba(153, 226, 208, 0.7);
    transition-timing-function: cubic-bezier(0.54, 0.31, 0.89, 0.3);
    display: none; } }
@keyframes ellipsis {
  0% {
    transform: scaleX(0);
    opacity: 0; }
  50% {
    transform: scaleX(0.5);
    opacity: 0.5; }
  100% {
    transform: scaleX(1);
    opacity: 1;
    animation-delay: 200ms; } }
@keyframes loader {
  0% {
    transform: scale(0) rotate(45deg);
    color: #9356dc;
    opacity: 1;
    transition-timing-function: cubic-bezier(0.54, 0.31, 0.89, 0.3); }
  33% {
    transform: scale(1) rotate(120deg);
    color: #99e2d0;
    opacity: 1; }
  50% {
    transform: scale(1) rotate(180deg);
    color: #99e2d0;
    opacity: 1; }
  75% {
    transform: scale(1) rotate(260deg);
    color: #ff79da;
    opacity: 1; }
  100% {
    transform: scale(0) rotate(360deg);
    color: #8641d8;
    opacity: 0.8;
    visibility: hidden;
    transition-timing-function: cubic-bezier(0.54, 0.31, 0.89, 0.3); } }
@keyframes like {
  0% {
    transform: scale(0);
    opacity: 0; }
  33% {
    transform: scale(0.33);
    opacity: 0.3; }
  66% {
    transform: scale(0.66);
    opacity: 0.6; }
  100% {
    font-size: inherit;
    opacity: 1; } }
@keyframes checked {
  0% {
    transform: rotate(90deg);
    opacity: 0; }
  50% {
    transform: rotate(180deg); }
  100% {
    transform: rotate(360deg);
    opacity: 1;
    transition-duration: 2000ms; } }
@keyframes suite {
  0% {
    transform: translateX(0%);
    opacity: 0;
    font-size: 12px; }
  10% {
    opacity: 0.2; }
  20% {
    opacity: 0.5; }
  30% {
    opacity: 0.8; }
  50% {
    transform: translateX(50%);
    opacity: 1;
    font-size: 19px; }
  70% {
    opacity: 0.8; }
  80% {
    opacity: 0.5; }
  90% {
    opacity: 0.2; }
  100% {
    transform: translateX(100%);
    opacity: 0;
    font-size: 12px; } }
@keyframes affich {
  0% {
    transform: scaleY(0); }
  100% {
    transform: scaleY(1); } }
@keyframes box {
  0% {
    transform: scaleX(0); }
  100% {
    transform: scaleX(1); } }
@keyframes rotate {
  from {
    transform: rotate(0deg);
    -moz-webkit-transform: rotate(0deg); }
  to {
    transform: rotate(360deg);
    -moz-webkit-transform: rotate(360deg); } }
@keyframes spin {
  0% {
    transform: rotate(0deg); }
  100% {
    transform: rotate(360deg); } }
.link-footer a .fas {
  justify-content: space-around;
  font-family: Roboto, sans-serif;
  width: auto;
  height: auto;
  color: #fff;
  text-decoration: none;
  margin-left: 15px;
  line-height: 25px; }
  .link-footer a .fas .other {
    margin-left: 22px; }

/* mixin element mobile*/
@media screen and (min-width: 481px) and (max-width: 1101px) {
  body {
    background: linear-gradient(0.25turn, #9356dc, white, #9356dc); }

  .container__header img {
    width: 250px;
    height: auto; }

  .container__food--picture,
  .food__picture--2,
  .container__main--food {
    width: 365px;
    margin-left: 33%;
    margin-right: 33%;
    top: 10px; }

  .food__picture--2 img {
    margin-top: -21px; }

  .main__food--2 {
    top: -170px;
    width: 365px;
    margin-left: 33%;
    margin-right: 33%;
    height: 1236px; }

  .prev__like--2 {
    position: absolute;
    margin-left: 300px;
    right: initial; }

  .food__prev--like {
    right: 25px;
    top: initial; }
    .food__prev--like i {
      color: #000; }
      .food__prev--like i:hover {
        cursor: pointer;
        font-weight: bolder;
        color: #9356dc;
        transition-duration: 1500ms; }

  .food__wrap {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 90%;
    height: 60px;
    border-radius: 15px;
    cursor: pointer;
    border: 2px solid #fff;
    background: #fff;
    margin-top: 15px;
    font-size: 15px;
    animation: affich 2000ms backwards; }
    .food__wrap--1 {
      animation-delay: 222.2222222222ms;
      transform-origin: top; }
    .food__wrap--2 {
      animation-delay: 444.4444444444ms;
      transform-origin: top; }
    .food__wrap--3 {
      animation-delay: 666.6666666667ms;
      transform-origin: top; }
    .food__wrap--4 {
      animation-delay: 888.8888888889ms;
      transform-origin: top; }
    .food__wrap--5 {
      animation-delay: 1111.1111111111ms;
      transform-origin: top; }
    .food__wrap--6 {
      animation-delay: 1333.3333333333ms;
      transform-origin: top; }
    .food__wrap--7 {
      animation-delay: 1555.5555555556ms;
      transform-origin: top; }
    .food__wrap--8 {
      animation-delay: 1777.7777777778ms;
      transform-origin: top; }
    .food__wrap--9 {
      animation-delay: 2000ms;
      transform-origin: top; }
    .food__wrap--10 {
      animation-delay: 2222.2222222222ms;
      transform-origin: top; }

  .footer--wrap {
    position: absolute;
    top: 1514px;
    z-index: 1; }

  footer {
    position: absolute;
    top: 1382px;
    width: 100%;
    display: flex;
    flex-direction: column;
    background: #000; }
    footer h2 {
      font-family: shrikhand;
      font-size: 24px;
      margin-left: 30px;
      color: #fff;
      margin-top: 15px;
      margin-bottom: 15px; }
    footer span a {
      font-family: Roboto, sans-serif;
      margin-left: 15px;
      cursor: pointer;
      width: fit-content; }
      footer span a:hover {
        text-decoration: underline; }
    footer a:hover {
      text-decoration: underline; }

  span a .other {
    margin-bottom: 0; } }

/*# sourceMappingURL=alltablet.css.map */
