@import url("https://fonts.googleapis.com/css2?family=Shrikhand&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&family=Shrikhand&display=swap');
@import "../libs/keyframes.scss";
@import "../libs/mixins.scss";
@import "../libs/reset.css";
@media screen and (min-width: 481px) and (max-width: 1101px) {
	body{
		background: linear-gradient(0.25turn,$color-primary, white, $color-primary);
	}
	.container__header{
		img{
			width: 250px;
			height: auto;
		}
	}
	.container__food--picture,
	.food__picture--2,
	.container__main--food{
		width: 365px;
		margin-left: 33%;
		margin-right: 33%;
		top: 10px;
	}
	.food__picture--2 img{
		margin-top: -21px;
	}
	.main__food--2{
		top: -170px;
		width: 365px;
		margin-left: 33%;
		margin-right: 33%;
		height: 1236px;
	}
	.prev__like--2{
		position: absolute;
		margin-left: 300px;
		right: initial;
	}
	.food__prev--like {
		right: 25px;
		top: initial;
	i{
    color: #000;
    &:hover {
      cursor: pointer;
      font-weight: bolder;
      color: $color-primary;
      transition-duration: 1500ms;
    }
  }
}
.food--wrap{
	@include food-wrap;
}
	.footer--wrap{
		position: absolute;
		top: 1515px;
		z-index: 1;
	}
	footer{
		position: absolute;
    	top: 1382px;
		width: 100%;
		@include footer;
	}
	span a .other{
		margin-bottom: 0;
	}
}