@import url("https://fonts.googleapis.com/css2?family=Shrikhand&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&family=Shrikhand&display=swap');
@import "../libs/keyframes";
@import "../libs/mixins.scss";
@import "../libs/reset.css";
body{
	font-family: Roboto, sans-serif;
	background: linear-gradient(0.25turn, #99de73, white, #99de73);
}
h1{
	font-family: shrikhand, sans-serif;
}
.container__header{
	display: flex;
	justify-content: center;
	position: absolute;
	width: 100%;
	.fas{
		font-size: 2rem;
    	position: absolute;
    	align-items: flex-start;
    	margin-left: -470px;
		color: #000;
		margin-bottom: 25px;
		&:hover{
			transform: scale(1.15);
		}		
	}
	img{
			background: #fff;
			padding-top: 10px;
			padding-bottom: 10px;
			margin-bottom: 25px;
			width: 22%;
			margin-left: -15px;
		}
}
.food--picture {  
	display: flex;
	justify-content: center;
	img{
		width: 22%;
		margin-top: 80px;
	}
}
.container__name-food{
	display: flex;
	margin-left: 635px;
    width: fit-content;
    justify-content: flex-end;
}
.name__food-heading{
    margin-top: 35px;
    margin-right: 70px;
    height: 20px;
    font-size: 1.5rem;
}
.food-prev__nolike{
	@include like;
	width: 0%;
	margin-left: 193px;
    margin-top: 35px;
    .far{
    	color: #000;
    }
    &:hover{
    	opacity: 0;
    	color: #fff;
	}
}
.food-prev__like{ 
  	@include like;
  	width: 0%;
  	margin-left: 193px;
    margin-top: 35px;
   	opacity: 0;
   	transition-duration: 500ms;
   	.fas{
   		color: $color-secondary;
   	}
   	&:hover{
   		animation: like;
   		transform-origin: 0% 100%;
   		opacity:1;
   }
}
.container__main--food{
	display: flex;
    flex-direction: column;
    position: absolute;
    align-items: center;
    width: 22%;
    margin-left: 39%;
    margin-right: 40%;
    background: lighten(#cfcfcf, 15%);
    margin-top: -46px;
    border-radius: 50px 50px 0 0;
}
.food__wrap{
	display: flex;
	flex-direction: column;
	align-items: flex-start;
    font-size: 15px;
    width: 90%;
    height: 60px;
    border-radius: 15px;
    box-shadow: 3px 3px 8px 2px #CFCFCF;
    cursor: pointer;
	border: 2px solid #fff;
	background: #fff;
	margin-top: 15px;
	&:hover .box{
		display: flex;
		animation: affich 600ms;
		transition-duration: 400ms;
		transform-origin: right -4px -50px;
		}
			&:hover .food__descript--price{
				transform: translateX(-50px);
				animation-duration: 600ms;
				transition-duration: 400ms;
		}
			&:hover .box.fas{
				transform: rotate(45deg);
				animation-duration: 1000ms;
		}
		&:hover .sup{
			display: none;
		}
		&:hover .etc{
			visibility: visible;
		}
}		
.box .fas{
	display: flex;
   	margin-top: 2px;
   	font-size: 24px;
   	margin-left: 15px;
}
.box{
	border: 1px solid #15dea5;
    height: 62px;
    width: 50px;
    display: none;
    position: absolute;
    margin-top: -2px;
    margin-left: 263px;
    border-radius: 0 15px 15px 0;
    background: #15dea5;
}
.food__list-heading{
	font-weight: normal;
    border-bottom: 2px solid $color-third;
    padding-bottom: 5px;
    width: 13%;
    margin-left: -260px;
    margin-top: 40px;
}
.food__descript{
	margin-left: 10px;
    font-weight: bold;
    margin-top: 12px;
}
.food__descript-acompaniment{
	margin-left: 10px;
    line-height: 25px;
    font-size: 14px;
}
.etc{
	visibility: hidden;
}
.food__descript--price{
	position: absolute;
    margin-left: 280px;
    margin-top: 24px;
    font-weight: bold;
}
.link__command--wrap{
	@include btn;
	width: 45%;
	margin-top: 25px;
}
footer{
	@include footer;
	    position: absolute;
    	margin-top: 1010px;
    	width: 100%;
}