@import url("https://fonts.googleapis.com/css2?family=Shrikhand&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&family=Shrikhand&display=swap');
@import "../libs/keyframes";
@import "../libs/mixins.scss";
@import "../libs/reset.css";
.container__header{
	display: flex;
	justify-content: center;
	width: 100%;
	.fas{
		font-size: 2rem;
    	position: absolute;
    	align-items: flex-start;
    	margin-left: -530px;
		color: #000;
		&:hover{
			transform: scale(1.15);
		}
	}
}
.i {  
	display: flex;
	
	img{
		width: 20%;
	}
}