@import url("https://fonts.googleapis.com/css2?family=Shrikhand&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&family=Shrikhand&display=swap');
$color-primary: #9356dc;
$color-secondary: #ff79da;
$color-third: #99e2d0;
@mixin hover{
	cursor: pointer;
	transform: scale(1.05);
	transition-duration: 400ms;
}
@mixin align{
	display: flex;
	flex-direction: column;
}
@keyframes loader{
	0%{
		transform: rotate(360deg);
		color: $color-primary;
	}
	30%{
		transition-timing-function: ease-in-out;
	}
	100%{
		color: $color-secondary;
		opacity: 0;
	}
}
.loader{
	position: fixed;
	/*animation-delay: 2s;*/
	display: flex;
	align-items:center;
	justify-content: center;
	/*transition-duration: 2s;*/
	height: 600px;
    justify-content: center;
    background: #cfcfcf;
    opacity: 0.8;
    width: 100%;
    /*transform: rotate(360deg);*/
	i{
        font-size: 13em;
		animation: loader 4000ms 400ms;
	}
}
body{
	font-family: Roboto, sans-serif;
	margin-left: 0;
	margin-right: 0;
}
header {
	display: flex;
	justify-content: center;
	margin-top: 40px;
	& img{  
	width: 300px;
	text-align: center;
	height: 60px;
}
}
.localisation__search--heading{
	display: flex;
	justify-content: center;
	align-items: center;
	align-content: space-around;
	height: 70px;
	background: linear-gradient(to bottom,grey,1%,#ececec);
	margin-top: 50px;
		.localisation__search--wrap{
			margin-left: 15px;
			font-weight: bold;
			letter-spacing: 0em;
}
}
main i{
	font-family: Roboto, sans-serif;
	color: black;
}
.website__descript--heading{
	@include align;
	align-items: center;
	background:lighten(#cfcfcf, 15%);
		.website__descript--title{
			font-weight: bold;
			font-size: 36px;
			margin-bottom: 0px;		
	}
	.website__descript--subtitle{
					margin-bottom: 30px;
	}
}
.link__restaurant--wrap{
	display: flex;
	align-items: center;    
	width: 16%;
    justify-content: center;
	border: 0px groove lighten($color-primary, 13%);
	height: 50px;
	color: #fff;
	margin-bottom: 30px;
	border-radius: 30px 30px;
	background:linear-gradient(to top,$color-primary,20%,#b68de7);
	padding-right: 10px;
	box-shadow: 5px 8px 8px #cfcfcf;
	&:hover{
		@include hover;
			&:active{
				transform: scale(1);
				transition-duration: 200ms;
		}
		.link__restaurant{
			color:#fff;
			text-align: center;
		}
	}
}
nav{  
	display: block;
	margin-bottom: 50px;
	i{
		color: black;
		margin-left: 30px;
	}
}
.nav__link--wrap{
	display: flex;
	justify-content: space-evenly;
		.nav__link--choice{  
    		display: inline-flex;
    		align-items: center;
    		border: 0px solid $color-primary;
    		box-shadow:5px 5px 8px #cfcfcf;
    		margin-left: 25px;
    		border-radius: 20px;
    		height: 60px;
    		width: 18%;
    		&:hover{
    			.nav__link--number{
    				transform: translate(-15px);
    				transition-duration: 400ms;
    				transition-timing-function: linear 400ms;
    			}
    				@include hover;	
    				background:lighten($color-primary, 38%);			
				}
				.nav__link--number{
    				text-align: center;
   					border: 0px solid $color-primary;
   					background: $color-primary;
    				color: white;
    				border-radius: 15px 15px;
    				font-size: small;
    				margin: -8px;
   					width: 15px;
    				height: 15px;
 		}
  	}
}
.icon-fonc-style .fas{
	color: $color-primary;
}
.fas_fa-mobile-alt{
    margin-left: inherit; 
}
.nav__link--list{  
    margin-left: inherit;
    font-weight: bold;
}
.food__prev--heading{
	@include align;
	flex-wrap: wrap;
	background:lighten(#cfcfcf, 15%);
	align-content: center;
	height: 1145px;
    justify-content: space-around;
}
img{
	border-radius:15px 15px 0 0;
	width: 335px;
	height: 175px;
}
.food__prev--title{
	display: block;
}
.food__prev{
	background: white;
    border-radius: 15px;
    height: auto;
    margin-bottom: 30px;
}
.food__prev--ban{
	position: absolute;
    border-radius: 5px 5px;
    width: 90px;
    margin-left: 230px;
    margin-top: 10px;
	z-index: 1;
	background-color: $color-third;
	margin-right: 6%;
    opacity: 1;
    color: darken($color-third, 30%);
    height: 25px;
    text-align: center;
    padding-top: 9px;
}
.food__prev--nolike{
	position: absolute;
	margin-left: 280px;
    margin-top: 200px;
    cursor: pointer;
    font-size: x-large;
    .far{
    	color: #000;
    }
    &:hover{
    	display: none;
    	color: #fff;
    	content: "";
	}

}
.food__prev--like{ 
  	position: absolute;
	margin-left: 280px;
   	margin-top: 200px;
   	font-size: x-large;
   	cursor: pointer;
   	opacity: 0;
   	.fas{
   		color: adjust-hue($color-secondary, -30);
   		
   	}
   	&:hover{
   		transition: 400ms;
   		opacity:1;
   		content: "";
   }
   &:checked{

   }
}
.food__prev--script{
	font-weight: bold;
	margin-left: 15px;
    margin-top: 8px;
    line-height: 1.8em;

}
.food__prev--main{
    	margin-left: 15px;
}
footer{
	@include align;
	background: #000;
		h2{  
			font-family: shrikhand;
			font-size: 24px;
			margin-left: 30px;
			color: #fff;
		}
		span,a{
			font-family: Roboto, sans-serif;
			margin-left: 15px;
			cursor: pointer;
			width: fit-content;
			&:hover{
				text-decoration: underline;
			}
		}
			a:hover{
				text-decoration: underline;
		}
}
.link__footer, a, i{
	@include align;
	justify-content: space-around;
	font-family: Roboto, sans-serif;
	width: auto;
	color: #fff;
	text-decoration: none;
	margin-left: 15px;
	line-height: 15px;
	.other-restaurant{
		margin-left: 18px;
	}	
}
