@import url("https://fonts.googleapis.com/css2?family=Shrikhand&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&family=Shrikhand&display=swap');
@import "../libs/_keyframes.scss";
@import "../libs/mixins.scss";
@import "../libs/reset.css";
$color-primary: #9356dc;
$color-secondary: #ff79da;
$color-third: #99e2d0;
.loader{ 
	display: flex;
    width: 100%;
    justify-content: center;
    position: absolute;
	z-index: 1;
	animation: background 3200ms;
	i{
		position: fixed;
		margin: 0;
		top: 125px;
        font-size: 26em;
		animation: loader 2800ms 400ms both;
	}
}
body{
	font-family: Roboto, sans-serif;
	background-size: cover;
	animation: body 3200ms;
}
header {
	@include header;
	img{
		width: 20%;
		margin: 20px;
	}
}
.localisation-search__heading{
	display: flex;
	justify-content: center;
	align-items: center;
	align-content: space-around;
	height: 70px;
	background: linear-gradient(to bottom,grey,1%,#ececec);
		.localisation-search__city{
			margin-left: 15px;
			font-weight: bold;
			letter-spacing: 0em;
		
	}
}
.research__city{
	display: none;
}
main i{
	font-family: Roboto, sans-serif;
	color: black;
}
.website__descript--heading{
	@include align;
	align-items: center;
	background: lighten(#cfcfcf, 15%);
		.website__descript--title{
			font-weight: bold;
			font-size: 36px;
			margin-top: 30px;
		}		
			.website__descript--subtitle{
				margin-top: 30px;
				margin-bottom: 30px;	
	}
}
.link-restaurant__wrap{
	@include btn;
		.link-restaurant{
			color:#fff;
			text-align: center;
	}
}
nav{  
	display: block;
	margin-bottom: 50px;
	i{
		color: black;
		margin-left: 30px;
	}
}
.nav__link--title{
	text-align: center;
	margin: 30px;
	font-size: 24px;
}
.nav__link--wrap{
	display: flex;
	justify-content: space-evenly;
		.nav__link--choice{  
    		display: inline-flex;
    		align-items: center;
    		border: 0px solid $color-primary;
    		box-shadow:5px 5px 8px #cfcfcf;
    		margin-left: 25px;
    		border-radius: 20px;
    		height: 60px;
    		width: 282px;
    		background: lighten(#cfcfcf, 15%);
    		&:hover{
    			.nav__link--number{
    				transform: translate(-15px);
    				transition-duration: 400ms;
    				transition-timing-function: linear 400ms;
    			}
    				@include hover;	
    				background:lighten($color-primary, 38%);			
				}
				.nav__link--number{
    				text-align: center;
   					border: 0px solid $color-primary;
   					background: $color-primary;
    				color: white;
    				border-radius: 15px 15px;
    				font-size: small;
    				margin: -8px;
   					width: 15px;
    				height: 15px;
    				font-size: 12px;
    				padding-top: 3px;
    				padding-right: 3px;
 		}
  }
}
.icon-fonc-style .fas{
	color: $color-primary;
}
.fas_fa-mobile-alt{
    margin-left: inherit; 
}
.nav__link--list{  
    margin-left: inherit;
    font-weight: bold;
}
.food-prev__heading{
	@include align;
	flex-wrap: wrap;
	background:lighten(#cfcfcf, 15%);
	align-content: center;
	height: 1200px;
    justify-content: space-around;
    a{
    	color: inherit;
    }
    h2{
    	font-size: 26px;
    	margin: 15px;
    	text-align: center;
    }
}
img{
	border-radius:15px 15px 0 0;
	width: 335px;
	height: 175px;
	cursor: pointer;
}
.container__food__prev--menu{
	display: flex;
	border: 1px solid #000;
}
.food-prev{
	background: white;
    border-radius: 15px;
    height: 250px;
    margin-bottom: 30px;
    cursor: pointer;
		
}
.food-prev__ban{
	position: absolute;
    width: 90px;
   	cursor: pointer;
    margin-left: 230px;
    margin-top: 10px;
	z-index: 1;
	background-color: $color-third;
	margin-right: 6%;
    opacity: 1;
    color: darken($color-third, 30%);
    height: 25px;
    text-align: center;
    padding-top: 9px;
}
.food-prev__nolike{
	@include like;
	margin-left: 280px;
    margin-top: 200px;
    .far{
    	color: #000;
    }
    &:hover{
    	opacity: 0;
    	color: #fff;
	}
}
.food-prev__like{ 
  	@include like;
  	margin-left: 280px;
    margin-top: 200px;
   	opacity: 0;
   	transition-duration: 500ms;
   	.fas{
   		color: $color-secondary;
   	}
   	&:hover{
   		animation: like;
   		transform-origin: 0% 50% left;
   		opacity:1;
   }
}
a{
	z-index: 0;
}
.food-prev__name{
	font-weight: bold;
	margin-left: 15px;
    margin-top: 8px;
    line-height: 1.8em;
}
.food-prev__place{
    	margin-left: 15px;
}
.three_col{
	height: 125px;
	top: 12px;
	background: lighten(#cfcfcf, 15%);
}
.loading{
  width: 100px;
  height: 100px;
  border-radius: 100%;
  position: relative;
  margin: 0 auto;
  background: lighten(#cfcfcf, 15%);
}
#loading-1:before, #loading-1:after{
  content: "";
  position: absolute;
  top: -10px;
  left: -10px;
  width: 100%;
  height: 100%;
  border-radius: 100%;
  border: 10px solid transparent;
  border-top-color: $color-secondary;
}
#loading-1:before{
  z-index: 100;
  animation: spin 1s infinite;
}
#loading-1:after{
  border: 10px solid $color-third;
}
footer{
	@include footer;
}
@include mobil-accueil-only;
