@import url("https://fonts.googleapis.com/css2?family=Shrikhand&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&family=Shrikhand&display=swap');
@import "./libs/keyframes.scss";
@import "./libs/mixins.scss";
@import "./libs/reset.css";
body{
  font-family: Roboto, sans-serif;
  @include flex;
  width: 100%;
  @include desktop{
    background: linear-gradient(0.25turn,$color-primary, white, $color-primary);
  } 
}
header{
  @include flex;
}
h1{
  font-family: shrikhand, sans-serif;
}
.container__header{
  @include position;
  display: flex;
  justify-content: center;
  background: #fff;
  z-index: 1;
  .fas{
    @include fleche;
    width: auto;
    top: 30%;
    left: 30px;
  }
  img{
    width: 50%;
    height: auto;
    padding-top: 10px;
    padding-bottom: 10px;
    @include desktop{
      width: 250px;
      height: auto;
    }
  }
}
.container__food--picture {  
  display: flex;
  justify-content: center;
  img{
    position: relative;
    width: 100%;
    top: 50px;
  }
}
.food__picture--2{
  display: flex;
  justify-content: center;
  img{
    width: 100%;
    margin-bottom: 75px;
  }
}
.container__name-food{
  @include name-food;
}
.name__food-heading{
  display: flex;
  justify-content: flex-start;
  margin-top: 35px;
  height: 20px;
  font-size: 20pt;
  margin-right: 90px;
  width: 80%;
  margin-left: 45px;
}
.food__prev--like,
.prev__like--2 {
  position: absolute;
  right: 15px;
  font-size: 28px;
  z-index: 1;
  color: $color-icon;
  .far{
    &:hover{
      cursor: pointer;
      font-weight: bolder;
      color: $color-primary;
      transition-duration: 1500ms;
    }
  }
}
.food__prev--like{  
  top: 30px;
  @include desktop{
    width: 10%;
    right: 25px;
  }
}
.prev__like--2{
  i{
  margin-top: 30px;
} 
  @include desktop{
    margin-left: 400px;
    width: 10%;
    right: initial;
  }
}
.container__main--food,
.main__food--2{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  background: lighten(#cfcfcf, 15%);
  border-radius: 40px 40px 0 0;
}
.main__food--2{
  z-index: 1;
  height: 1235px;
  margin-top: -230px;
}
.container__main--food{
  position: relative;
  width: 100%;
  height: 1155px;
}
.container__food--picture,
.food__picture--2,
.container__main--food,
.main__food--2{
  @include desktop{
    width: 365px;
    margin-left: 50%;
    margin-right: 50%;
    top: 10px;
  }
}
.food__wrap{
  @include food-wrap;
  position: relative;
  &:hover .box{
    display: flex;
    justify-content: center;
    animation: box 600ms;
    transition-duration: 400ms; 
    transform-origin: right -4px -50px;
    }
      &:hover .food__descript--price{
        transform: translateX(-60px);
        animation-duration: 600ms;
        transition-duration: 600ms;
    }
      &:hover .fas{
        animation: rotate 800ms;
    }
      &:hover .food__descript{
        @include ellipsis;
        transform: scaleX(1);
        transition-duration: 500ms;
    }
      &:hover .food__descript-acompaniment{
        @include ellipsis;
        transform: scaleX(1);
        transition-duration: 500ms;
    }
}   
.box .fas{
  display: flex;
  align-items: center;
  margin: 20px;
  position: relative;
  font-size: 24px;
  color: #fff;
}
.box{
  border: 1px solid $color-third;
  height: 62px;
  width: 16%;
  display: none;
  position: relative;
  left: 84%;
  margin-top: -2px;
  border-radius: 0 15px 15px 0;
  background: #15dea5;
}
.food__list-heading{
  margin-right: 80%;
  font-weight: normal;
  border-bottom: 2px solid $color-third;
  padding-bottom: 5px;
  width: 10%;
  margin-top: 40px;
}
.food__descript-acompaniment,
.food__descript{
  @include position;
  width: 84%;
  padding-bottom: 1px;
  margin-left: 10px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  &:hover{
    overflow: visible;
  }
}
.food__descript{
  font-weight: bold;
  margin-top: 12px;
}
.food__descript--1{
    margin-top: 6px;
}
.food__descript-acompaniment{
  margin-top: 35px;
  font-size: 14px;
}
.acompaniement--1{
  margin-top: 40px;
}
.food__descript--price{
  position: absolute;
  left: 89%;
  margin-top: 35px;
  font-weight: bold;
}
.btn{
  @include btn;
  justify-content: center;
  width: 40%;
  margin-top: 70px;
  &:hover{
    @include hover;
  }
}
.footer--wrap{
  @include desktop{
    top: 1514px;
  }
}
footer {
  display: flex;
  flex-direction: column;
  background: $color-footer;
  @include desktop{
    position: absolute;
    top: 1400px;
    z-index: 1;
    width: 100%;
  }
    h2{  
      font-family: shrikhand;
      font-size: 24px;
      margin-left: 30px;
      color: $color-init;
      margin-top: 15px;
      margin-bottom: 15px;
    }
    .link{
      font-family: Roboto, sans-serif;
      cursor: pointer;
      color: $color-init;
      width: fit-content;
      text-decoration: none;
      margin-left: 15px;
      &:hover{
        text-decoration: underline;
    }
  }
}
.link-footer {
  justify-content: space-around;
  font-family: Roboto, sans-serif;
  width: auto;
  height: auto;
  color: $color-init;
  text-decoration: none;
  margin-left: 15px;
  line-height: 25px;
  .fas{
    color: $color-init;
    .other-restaurant{
      margin-left: 22px;
    }
  }
}